.container {
   width: 80%;
   max-width: 800px;
   margin: auto;
   background-color: #f4f4f4;
   padding: 20px;
   border-radius: 10px;
   text-align: left
}

.header img {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    display: block;
    object-fit: cover;
    margin: 0 auto;
    border: 5px solid white;
}
.header h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.Text {
    background-color: white;
    padding: 20px;
    border-radius: 50px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    width: 80%;
}
.Text h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
}

.Text p {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    text-align: justify;
    margin-left: 0px;
}
.Pendidikan {
    background-color: white;
    padding: 20px;
    border-radius: 50px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    width: 80%;
}
.content h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.content h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px
}
.Contact {
    background-color: white;
    padding: 20px;
    border-radius: 50px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    width: 80%;
}
.Contact h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.foto {
    float: left;
    width: 20px;
    margin-right: 10px;
}
.Pengalaman {
    background-color: white;
    padding: 20px;
    border-radius: 50px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    width: 80%;
}
.Pengalaman h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.Pengalaman li {
    margin-bottom: 20px;
}
.Skills {
    text-align: center;
    background-color: white;
    padding: 50px 0;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.Skills img {
    width: 180px;
    height: 150px;
}